

*{ 
	margin:0px; 
	padding:0px; 
	border-radius: 0px; 
	box-sizing: border-box; 
	font-size: 110%; 
  background-color: #222;
} 

#root{ 
	text-align:center; 
} 

.calculator-title{ 
	font-size:30px; 
	background: #cab4b4; 
	width: 400px; 
	padding: 10px 10px; 
	margin: 0 auto; 
	margin-top: 20px; 
	margin-bottom: 20px; 
	border-radius: 2px; 
	border: 2px solid black; 
	color: #0530ec; 
} 
.mainCalculator{ 
	margin:0px; 
	padding:0px; 
	border-radius: 0px; 
	box-sizing: border-box; 
} 


.screen-row input{ 
  width: 400px; 
  height: auto; 
background: #ddd; 
border: 0px; 
color: #222; 
padding: 10px; 
text-align: right; 
} 

.button-row button{ 
	width: 100px; 
	background: #7b4fce; 
	border: 1px solid #222; 
	padding: 10px 20px; 
	color: black; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 25px; 
  font-weight: bold;
} 

button:active{ 
	background: #ccc; 
} 

